*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height:100vh ;
    background: linear-gradient(
        135deg,
        #0D0014,
        #1A0024,
        #3B003F,
        #9C1F73
    );
    background-attachment: fixed;
    margin: 20px;
}
.home{
    margin: 40px;
    display: flex;
}
.navbar{
    height: 50px;
    width: 1200px;
    border-radius: 50px;
    background-color: #67336bf5;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    z-index: 1000;
    backdrop-filter: blur(10px);
}
@media(max-width:450px){
    .navbar{
        width: 990px;
    }
}
.navbar a{
    margin: 30px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: 1s;
}
.hero{
    margin-top: 70px;
}
.headings{
    height: 400px;
    width: 600px;
    color: white;

}
p{
    font-size: 20px;
}
.headings h1{
    font-size: 50px;
    margin-top: 0px;
    font-weight: 900;
}
.headings h2{
    font-size: 40px;
    font-weight: 900;
}
.headings p{
    line-height: 40px;
}
#skill{
    font-weight: 800;
    margin-top: 0;
    color: #a797a1;
    font-size: 40px;
}
#skills{
    text-decoration: dashed underline;
    text-decoration-color:#b51e82;
}
.links{
    margin-top: 0px;
    height: 150px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}
.links button{
    height: 60px;
    width: 200px;
    border-radius: 50px;
    margin-right: 30px;
    color: black;
    font-size: 25px;
    padding: 9px;
}
#butt{
        width: 150px;
        background-color: transparent;
    color: white;

}
.links img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    margin-top: 30px;
}
.right{
    align-items: center;
}
.right img{
    width: 600px;
    height: 600px;
    background-color: transparent;
    position: absolute;
    right: 100px;
    top: 150px;
}
@media(max-width:450px){
    .right img{
        width: 500px;
        position: relative;
        left: 15px;
        top: 30px;
    }
}
/* about soction */
.about{
    margin: 40px;
    margin-top: 150px;
    display: flex;
}
.aboutdata{
    width: 600px;
    color: white;
    line-height: normal;
    line-height: 40px;
}
.aboutdata h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 15px;
    background-color:#911398;
    font-family:Georgia;
     
}
.aboutdata ul{
    margin: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.aboutdata p{
    font-size: 28px;
}
.right2 img{
    height:600px;
    width:500px;
    position: relative;
    top: 30px;
    left: 170px;
}
@media(max-width:450px){
    .right2 img{
        width: 450px;
        position: relative;
        left: 15px;
        top: 0;
    }
}
/* my project */
#proj{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 15px;
    background-color:#911398;
    font-family:Georgia;
    margin: 40px;
    margin-top: 120px;
}
.myproject{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin: 40px;
    justify-content: center;
}


.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
.project-card{
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    color:white;
    border-radius: 20px;
     padding: 10px; 
    height: 450px;
    width: 500px;
    margin: 40px; 
    margin-right: 60px;
    margin-top: 0;
}
.project-card img{
    height:250px;
    width: 100%;
    border-radius: 10px;
}
.project-card p{
    font-size: 18px;
}

.project-card h2{
    color: #1A0024;
}
.project-card li{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}
.project-card a{
    text-decoration: none;
    color: white;
}
@media (max-width: 450px){
    .myproject{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-end;
    }

    .project-card{
        width: 800px;
        height: 570px;
        margin-right: 90px;
        position: relative;
        left: 60px; 
       }
       .project-card img{
        height: 370px;
       }
}

.edu_outer{
    display: flex;
}
.edu_right{
    margin-left: 300px;
}
.educate{
     font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: none;
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 15px;
    background-color:#ae2ab5;
    font-family:Georgia;
    margin: 40px;
    margin-top: 120px;
}
.education{
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(10px);
    color:white;
    border-radius: 20px;
     padding: 10px; 
    height: 180px;
    width: 350px;
    margin: 40px; 
    margin-right: 60px;
    margin-top: 0;
}
.education li{
    margin-left: 30px;
    font-size:24px;
    line-height: 40px;
}
.eduskill{
    display: flex;
}
.heads{
    display: flex;
}

.tech{
    margin:200px;
}

.education li{
    color: #590d22;
    font-weight: 800;
}
.anotherskill{
     background: rgba(255,255,255,0.25);
    backdrop-filter: blur(10px);
    color:white;
    border-radius: 20px;
     padding: 10px; 
    height: 200px;
    width: 470px;
    margin: 40px; 
    margin-right: 10px; 
    margin-top: 125px;

}
.anotherskill label{
    color: #590d22;
    font-weight: 800;
}
.tech_skill label{
    color: #590d22;
    font-weight: 800;
}
.anotherskill li{
    margin-left: 15px;
    font-size:24px;
    line-height: 40px;
}
.color{
    color: #C2E812;
}
.tech_skill{
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(10px);
    color:white;
    border-radius: 20px;
     padding: 10px; 
    height: 250px;
    width: 600px;
    margin: 40px; 
    margin-top: 0;
}
.tech_skill ul{
    margin-left: 20px;
    font-size: 24px;
    display: inline-block;
    margin-top: 0px;
}
#front{
    margin-left: 20px;
}
.tech_skill h1{
    font-size: 28px;
    margin-left: 0;
}
.tech_skill progress{
    margin-left: 10px;
    height: 25px;}
@media(max-width:450px){
    .edu_right{
        margin-left: 30px;
    }
}

.contact-section{
    background: radial-gradient(
        circle at 30% 40%,
        rgba(156, 31, 115, 0.4),
        #0D0014 60%
    );
    width: 100%;
    display: flex;
    color: white;
    padding: 30px;
    border-radius: 20px;
    margin-top: 150px;
}
.left-text{
    width: 40%;
    font-size: 30px;
}
.touch{
    margin-top: 100px;
    margin-left: 80px;
    font-size: 80px;
}
.left-text p{
    margin: 30px;
    font-size: 30px;
    margin-top: 40px;

}
.mail-info a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
}
.form{
    width: 450px;
    padding: 30px;
    border-radius: 20px;

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 20px rgba(156, 31, 115, 0.3);

    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 260px;
}

.form h2{
    color: #F5F5F5;
    text-align: center;
    margin-bottom: 10px;
}

.form input,
.form textarea{
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 50px;
    background: rgba(255,255,255,0.08);
    color: #fff;
    display:flex;
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
}

.form textarea{
    height: 80px;
    resize: none;
    margin-top: 20px;
}

.form input::placeholder,
.form textarea::placeholder{
    color: #CFCFCF;
}

.form button{
    padding: 12px;
    border: none;
    border-radius: 30px;
    width: 300px;
    background: #C24FA6;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 20px;
}

.form button:hover{
    background: #9C1F73;
    transition: 0.3s;
}
@media(max-width:450px){
    .form{
        margin-left: 180px;
       width: 420px;
       height: 650px;
    }
    .left-text{
        font-size: 16px;
        width: 450px;
        height: 800px;
    }
    .contact-section{
        width: 1140px;
        height: 750px;
    }
}
footer{
    height: 50px;
    background-color:#ff00aa3f;
    width: 97%;
    border-radius: 20px;
    margin: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: white;
    display: inline-block;
    margin: 20px;
    font-size: 16px;
}
footer li{
    color: white;
    opacity: 1;
    margin-left: 20px;
}
#git{
    font-size: 30px;
    
}
footer a{
    color: white;
    font-size: 26px;
    text-decoration: none;
    margin: 10px;
}
#linkedin{
    font-size: 30px; 
    margin-left: 20px;

}
footer h1{
    position: relative;
    left: 220px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    color: white;
    transition: 0.3s;
   
}
footer h1:hover{
    scale: 1.4;
}
.top_btn{
    cursor: pointer;
}
@media (max-width: 450px) {

    footer{
        width: 1100px;
        flex-direction: row;
        text-align: center;
        padding: 15px 0;
        margin-top: 30px;
        justify-content: space-evenly;
    }

    footer p{
        margin: 8px 0;
        display: block;
        font-size: 14px;
    }

    footer li{
        margin: 8px 0;
        list-style: none;
    }

    footer a{
        font-size: 18px;
        margin: 5px;
    }

    #git,
    #linkedin{
        font-size: 22px;
        margin-left: 0;
    }

    footer h1{
        position: static; 
        margin-top: 10px;
        font-size: 18px;
    }
    .top_btn{
        margin-left: 60px;
    }
}
@media(max-width:380px){
    #proj{
        width: 300px;
    }
}
.cat ul{
    line-height: 15px;
}
